<div class="courses-panel">
  <h3>All Courses</h3>

  <button class="btn">Add Course</button>

  <!-- creo un button che chiama al click un metodo incrementSignalCounter() che aumenta di uno il valore del signal counterSignal -->
  <button class="btn" (click)="incrementSignalCounter()">Increment</button>
  <!-- per accedere al value contenuto nel signal bisogna invocare il signal, come se fosse un metodo -->
  <!-- essendo ora un Object accedo alla property value -->
  <h3>counterSignal: {{ counterSignal().value }}</h3>

  <button class="btn" (click)="append()">Append</button>
  <!-- mostro i valori contenuti nell'array come stringa separati da una virgola -->
  <h3>values: {{ values().join(", ") }}</h3>

  <mat-tab-group>
    <mat-tab label="Beginners"> </mat-tab>

    <mat-tab label="Advanced"> </mat-tab>
  </mat-tab-group>
</div>
